/Revoked.Web/Client/bower_components/
/Revoked.Web/Client/node_modules/
/Revoked.Web/Client/.pulp-cache/
/Revoked.Web/Client/output/
/Revoked.Web/Client/generated-docs/
/Revoked.Web/Client/.psc-package/
/Revoked.Web/Client/.psc*
/Revoked.Web/Client/.purs*
/Revoked.Web/Client/.psa*
/Revoked.Web/wwwroot/js/app.js
/Revoked.Web/bin/
/Revoked.Web/obj/
/Revoked.Core/bin/
/Revoked.Core/obj/
/Revoked.Services/bin/
/Revoked.Services/obj/
*.lock
.vs/

/Revoked.Services.Tests/obj
/Revoked.Services.Tests/bin
/Revoked.Core/Revoked.Core.csproj.user
