@page
@model Revoked.Web.Pages.IndexModel
@{
    ViewData["Title"] = "Game";
}

@section HeaderScripts{
    <script src="js/inobounce.js"></script>
}

@Html.AntiForgeryToken()

<style>
    html, body, .wrap {
        height: 100%
    }

    body {
        padding: 0;
        margin: 0;
        background-color: #000000;
    }

    .wrap {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #scene {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }
</style>

<div class="wrap">
    <canvas id="scene" width="512" height="512" style="width: 512px; height: 512px;"></canvas>
</div>

<audio hidden id="backgroundMusic" src="/audio/backgroundMusic.mp3"></audio>

@section Scripts{
    <script src="js/app.js"></script>
    <script>
        const canvas = document.getElementById('scene');
        canvas.style.width = (canvas.width / devicePixelRatio).toString() + 'px';
        canvas.style.height = (canvas.height / devicePixelRatio).toString() + 'px';
    </script>
}
